/* header styling */
.header {
  overflow: hidden;
  background-color: #66BFBF;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.title {
  font-size: 25px;
  font-weight: bold;
}
body {
  font-family: Arial;
  font-size: 17px;
  margin: 0;
}
h3.center {
  text-align: center;
}
div.center {
  text-align: center;
}
div.select {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
#main-table .filename a {
  color: #222222;
}
#main-table span.badge {
  border-bottom: 2px solid #f8f9fa;
}
#main-table span.badge:nth-child(1) {
  border-color: #df4227;
}
#main-table span.badge:nth-child(2) {
  border-color: #f8b600;
}
#main-table span.badge:nth-child(3) {
  border-color: #00bd60;
}
#main-table span.badge:nth-child(4) {
  border-color: #4581ff;
}
#main-table span.badge:nth-child(5) {
  border-color: #ac68fc;
}
#main-table span.badge:nth-child(6) {
  border-color: #45c3d2;
}
.kebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
}
.kebab figure {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #00bcd4;
  margin: 3px 0;
}
.middlestyle {
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
}
.middlestyle.active {
  transform: scale(4.5);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}
.crossstlye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: "Nunito", sans-serif;
  color: white;
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  user-select: none;
}
.crossstlye.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}
/*h1,
 a,
 li {
 font-family: $roboto;
 }
 h1 {
 font-size: 26px;
 background: $cyan;
 color: white;
 padding: 40px 0 40px 20%;
 margin-bottom: 50px;
 }
 a,
 li {
 color: darken($grey, 20%);
 text-decoration: none;
 }*/
.flowdownstyle {
  position: absolute;
  /*right: 0;*/
  top: -2em;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);*/
}
.flowdownstyle li {
  display: block;
  width: 100%;
}
.flowdownstyle li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}
/* rnm" class="btn" onclick="myAjax(\''.$info['name'].'\',\'rename\')">Rename</button></li>';
		echo '<li><button name="dld" class="btn" onclick="myAjax(\''.$info['name'].'\',\'download\')">Download</button></li>';
		echo '<li><button name="dlt */
.btn1 {
  background-color: #80c4ff;
  border: 1px solid black;
}
.flowdownstyle li a:hover {
  background: #ebebeb;
}
.flowdownstyle:hover ul {
  transform: scale(1);
}
.flowdownstyle.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}
.follow {
  overflow: hidden;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03a9f4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.follow i {
  margin-right: 20px;
  transition: margin-right 0.2s ease;
}
.follow:hover {
  width: 134px;
}
.follow:hover i {
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  .follow {
    margin: 400px auto 0;
  }
}