/* header styling */
.header {
  overflow: hidden;
  background-color: #66BFBF;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: beige;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.title {
  font-size: 25px;
  font-weight: bold;
}

body {
  font-family: Arial;
  font-size: 17px;
  margin: 0;
  
}

h3.center{
    text-align: center;
}

div.center {
    text-align: center;
}

.msg {
	text-align:center;
}

.upload_button {
	text-align: center;
	border: 3px solid #73AD21;
	padding: 10px;
	display: inline-block;
	margin-left: 41%;
	margin-right: 35%;
	margin-top: 10%;
}

div.select {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.image-preview{
  width: 400px;
  min-height:100px;
  /* border: 2px solid #dddddd; */
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color:#cccccc;
}

.image-preview__image{
  display: none;
  width: 100%;

}

.file__upload{
  position: fixed;
  top: 30%;
  left: 42.5%;
}